<% @title = '✈Экскурсии по Пхукету ➤Бюджетное путешесвие ☼CoCo Travel' %>
<% @description = '✰Обзорные экскурсии ☼Аквапарк ✺Озерная рыбалка ✈Полет Ханумана ♥Дельфинарий                                  ☺Королевство тигров ➤Яркие эмоции с CoCo Travel  ☎ +66 83 539 0539' %>
<% content_for :style do %>
  <%= stylesheet_link_tag    'sea_tours' %>
<% end %>

<%= render 'shared/navbar' %>
<p id="notice"><%= notice %></p>
<div class="container index-tour">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12">
      <div class="section-title-17 text-center">
        <% if content_for?(:header) %>
          <%= yield(:header) %>
        <% else %>
          <h2>Экскурсии по Пхукету</h2>
        <% end %>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/tours', locals: {all_tours: @phuket_tour, path: 'phuket_tour_path', product_type: 'PhuketTour'} %>
</div>

<%= render "shared/footer" %>
