<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136111327-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136111327-1');
    </script>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title><%= @title %></title>
    <meta name="description" content="<%= @description %>">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :style %>
    <meta name="google-site-verification" content="BXVPepS7nJrYK-6aoP2yoX2mPnomRdHjHdCgy6jgQTY" />


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <!--
    CSS
    ============================================= -->


  </head>

  <body class="home-17">

    <%= yield %>

  </body>
</html>
